.header__inner {
  display: flex;
  max-width: 980px;
  margin: auto;
  padding: 32px 16px;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.header__title {
  font-size: 34px;
  /* font-weight: bold; */
  font-weight: 700;
  border: solid 1px #000000;
  padding: 3px 19px;
}
.header__nav-item {
  list-style: none;
}
.header__nav-list {
  display: flex;
  /* list-style: none; */
  gap: 18px;
}
.header__nav-item-link {
  font-size: 34px;
  text-decoration: none;
  /* font-weight: bold; */
  font-weight: 700;
  color: #000000;
}
.MainContent {
  width: 820px;
  height: 402px;
  margin: auto;
}
.MainContent__inner__title {
  font-size: 34px;
  text-align: center;
}
.MainContent__inner__item {
  font-size: 18px;
  font-weight: 400;
}
.MainContent__inner__content {
  display: flex;
  justify-content: space-between;
}
.footerContent {
  width: 752px;
  height: 355px;
  margin: auto;
}
.footer__title {
  font-size: 34px;
  text-align: center;
}
.footerVisual {
  display: flex;
  justify-content: space-between;
}
.footerVisual__sea {
  width: 240px;
  height: 261px;
}
.footerVisual__mountain {
  width: 240px;
  height: 261px;
}
.footerVisual__town {
  width: 240px;
  height: 261px;
}
.footerVisual h4 {
  font-size: 18px;
  font-weight: 400;
}
.rights {
  font-size: 18px;
  font-weight: 400;
  width: 375px;
  height: 46px;
  margin: auto;
  text-align: center;
}
